<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/home.css">

    <body>
        <div class="container">
            <div class="row">
                <div id="carouselExampleIndicators" class="carousel slide container-changeup" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="card-main">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <img src="/images/ScamazonAd1.png" alt="<%=products[0].image%>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="row" id="carousel-row">
                                    <div class="col-md-6 text-center align-self-center">
                                        <img src="<%=products[1].image%>" alt="<%=products[1].image%>"
                                            class="img-fluid item-img">
                                    </div>
                                    <div class="col-md-6 info">
                                        <h1>
                                            <%=products[1].title%>
                                        </h1>
                                        <p>
                                            <%=products[1].description %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="row" id="carousel-row">
                                    <div class="col-md-6 text-center align-self-center">
                                        <img src="<%=products[2].image%>" alt="<%=products[2].image%>"
                                            class="img-fluid item-img">
                                    </div>
                                    <div class="col-md-6 info">
                                        <h1>
                                            <%=products[2].title%>
                                        </h1>
                                        <p>
                                            <%=products[2].description %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div> <!-- end row 1 -->
            <div class="row mt-3 mb-3">
                <div class="featured-title">
                    <h3>Featured Products</h3>
                </div>
                <div class="col-4 item-col">
                    <div class="product-card">
                        <div class="main-images" id="firstItemImgs">
                            <img id="blue" class="blue active" src="/images/blue.png" alt="blue">
                            <img id="pink" class="pink" src="/images/pink.png" alt="blue">
                            <img id="yellow" class="yellow" src="/images/yellow.png" alt="blue">
                        </div>
                        <div class="details">
                            <span class="productName">ADIDAS ZX BOOST</span>
                            <p>
                                ZX has never felt more satisfying. This chapter of ZX introduces ZXience through new
                                levels of squeeze and squishiness.
                            </p>
                        </div>
                        <!-- end details -->
                        <div class="option-price">
                            <div class="color-option" id="firstItemColors">
                                <span class="color">Color:</span>
                                <div class="circles">
                                    <span class="circle blue active" id="blue"
                                        data-id="626634d0cb7ae4ec479b58a8"></span>
                                    <span class="circle pink" id="pink" data-id="626634efcb7ae4ec479b58ae"></span>
                                    <span class="circle yellow" id="yellow" data-id="62663510cb7ae4ec479b58b4"></span>
                                </div>
                            </div>
                            <div class="price">
                                <span class="price_num">$87</span>
                            </div>
                        </div>
                        <!-- end option-price -->
                        <div class="button">
                            <div class="button-layer"></div>
                            <a href="/cart/add-to-cart/626634d0cb7ae4ec479b58a8" id="item1Link">
                                <button>Add To Cart</button>
                            </a>
                        </div>
                    </div>
                </div> <!-- end featured item 1 -->
                <div class="col-4 item-col">
                    <div class="product-card">
                        <div class="main-images" id="secondItemImgs">
                            <img id="rose" class="rose active" src="/images/roseWatch.jfif" alt="blue">
                            <img id="navy" class="navy" src="/images/navyWatch.jfif" alt="blue">
                            <img id="black" class="black" src="/images/blackWatch.jfif" alt="blue">
                        </div>
                        <div class="details">
                            <span class="productName">APPLE WATCH SERIES 7</span>
                            <p>
                                Apple Watch Series 7 features the largest, most advanced display yet, breakthrough
                                health innovations,
                                and is the most durable Apple Watch ever.
                            </p>
                        </div>
                        <!-- end details -->
                        <div class="option-price">
                            <div class="color-option" id="secondItemColors">
                                <span class="color">Color:</span>
                                <div class="circles">
                                    <span class="circle rose active" id="rose"
                                        data-id="626622bacb7ae4ec479b57e5"></span>
                                    <span class="circle navy" id="navy" data-id="62662374cb7ae4ec479b57ff"></span>
                                    <span class="circle black" id="black" data-id="626623a3cb7ae4ec479b5805"></span>
                                </div>
                            </div>
                            <div class="price">
                                <span class="price_num">$399</span>
                            </div>
                        </div> <!-- end option-price -->
                        <div class="button">
                            <div class="button-layer"></div>
                            <a href="/cart/add-to-cart/626622bacb7ae4ec479b57e5" id="item2Link">
                                <button>Add To Cart</button>
                            </a>
                        </div>
                    </div>
                </div> <!-- end featured item 2 -->
                <div class="col-4 item-col">
                    <div class="product-card">
                        <div class="main-images" id="secondItemImgs">
                            <img src="/images/phone1.png" class="blue active" alt="blue">
                        </div>
                        <div class="details">
                            <span class="productName">SAMSUNG GALAXY S22</span>
                            <p>
                                The Samsung Galaxy S22 sets a new epic standard with 8K video capture, the highest
                                recording resolution available on a smartphone.
                            </p>
                        </div>
                        <!-- end details -->
                        <div class="option-price">
                            <div class="price">
                                <span class="price_num">$799</span>
                            </div>
                        </div>
                        <!-- end option-price -->
                        <div class="button">
                            <div class="button-layer"></div>
                            <a href="/cart/add-to-cart/62662026cb7ae4ec479b579b" id="btnLink">
                                <button>Add To Cart</button>
                            </a>
                        </div>
                    </div>
                </div> <!-- end featured item 3-->
            </div> <!-- end row 2 -->
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    </body>
    <script>
        function setActive(item, target, linkTag, imgTag) {
            if (target.classList.contains("circle")) {
                $(linkTag).attr("href", "/cart/add-to-cart/" + target.dataset.id);
                item.querySelector(".active").classList.remove("active");
                target.classList.add("active");
                document.querySelector(imgTag).classList.remove("active");
                document.querySelector(`.main-images .${target.id}`).classList.add("active");
            }
        }

        let itemOneCircle = document.querySelector("#firstItemColors");
        let itemTwoCircle = document.querySelector("#secondItemColors");

        itemOneCircle.addEventListener("click", (e) => {
            let itemOneTarget = e.target;
            let itemOneLinkTag = "#item1Link";
            let itemOneImgTag = "#firstItemImgs .active";
            setActive(itemOneCircle, itemOneTarget, itemOneLinkTag, itemOneImgTag);
        });

        itemTwoCircle.addEventListener("click", (e) => {
            let itemTwoTarget = e.target;
            let itemTwoLinkTag = "#item2Link";
            let itemTwoImgTag = "#secondItemImgs .active";
            setActive(itemTwoCircle, itemTwoTarget, itemTwoLinkTag, itemTwoImgTag);
        });
    </script>

    </html>
