<% layout('layouts/boilerplate') %>
<% for( let item of items) { %>
    <p><%= item.productId.title %> </p>
    <p><%= item.quantity %> </p>
    <p><%= item.price %> </p>
    <p><%= item.total %> </p>
<% } %>

<% for( let prod of products) { %>
    <p><%= prod.title %> </p>
<% } %>