<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/products.css">
    <!-- <div class="container"> -->
    <div class="row">
        <h1 class="text-center top-box">
            All Products
    </div>
    <div class="row">
        <div class="col-md-1 offset-md-8">
            <div class="card mb-3">
                <div class="row">
                    <select name="sort" id="sort" onchange="CheckURL(this.value)">
                        <option style="display:none">---Sort---</option>
                        <option value="1">Price: High to Low</option>
                        <option value="2">Price: Low to High</option>
                        <option value="3">Availablilty: High to Low</option>
                        <option value="4">Availablilty: Low to High</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <% for(let product of products) { %>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="<%= product.image %>" class="img-fluid display-items" alt="">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= product.title %>
                                </h5>
                                <p 
                                    class="card-text" 
                                    style=" width: 70%;
                                            height: 6em;
                                            white-space: normal;
                                            overflow: hidden;
                                            text-overflow: ellipsis"
                                >
                                    <%= product.description %>
                                </p>
                                <p class="card-text">$
                                    <%= product.price %>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">Quantity: <%= product.quantity %></small>
                                </p>
                                
                                <div>
                                    <a class="btn btn-primary" href="/products/<%= product._id %> ">View <%= product.title %> </a>
                                    <!-- <a class="btn btn-success" href="/products/add-to-cart/<%= product._id %>">Add to cart</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }%>
        </div>
        <!-- <div class="col-md-2">
            <div class="card mb-3">
                <div class="row text-center">
                    <a href="/products/new">Add Product</a>
                </div>
            </div>
        </div> -->
    </div>

    <script type="text/javascript">
        function CheckURL(sortCode) {
            
            // variable to check if sort variable exists
            let test = location.search;
            let params = new URLSearchParams(test);
            let sortParam = parseInt(params.get("sort"));

            // variable to hold search value
            let searchVar = location.search;
            let splicedSearchVar = searchVar.split("&")[0];

            // variable to check if search value exists
            let testSearch = location.search.slice(1).split("&")[0].split("=")[0];
            
            // all cases for how the URL should change based off current search/sort values.
            if (!sortParam && !testSearch) {
                window.location.href="?sort=" + sortCode;
            } else if (sortParam && (testSearch != "searchText")) {
                window.location.href="?sort=" + sortCode;
            } else if (!sortParam && (testSearch === "searchText")) {
                window.location.href+="&sort=" + sortCode;
            } else if (sortParam && (testSearch === "searchText")) {
                window.location.href= splicedSearchVar + "&sort=" + sortCode;
            }
        }
    </script>