<link rel="stylesheet" href="/stylesheets/itemPage.css" />

<% layout('layouts/boilerplate') %>
    <div class="row" id="item-title">
        <div class="col-xl-10 offset-xl-2 col-md-10 offset-md-1" >
            <h1> <%=product.title%> </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 offset-xl-2 col-md-10 offset-md-1">
            <div class="card mb-4" id="item-image">
                <img src="<%=product.image%>" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card-body mb-4" style="background-color: white;">
                <h5 class="card-title">
                    <%=product.title%>
                </h5>
                <p class="card-text">
                    <%=product.description%>
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">Sold by
                        <% if (product.author.isAdmin) { %>
                            Scamazon
                        <% } else { %>
                            <%=product.author.username%>
                        <% } %>
                    </li>
                </ul>
                <!-- 3/30 - will show/hide buttons if there is a user logged in and the user is the author or an admin -->
                <% if(currentUser && product.author.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                    <div class="card-body">
                        <a class="card-link btn btn-info" href="/products/<%= product._id %>/edit">Edit</a>
                        <form class="d-inline" action="/products/<%= product._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger" style="background-color: red;">Delete</button>
                        </form>
                    </div>
                <% } %>
                <div class="card-footer text-muted">
                    <a href="/products">All Products</a>
                </div>    
            </div>
        </div>
        <div class="col-xl-2">
            <div class="card mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="charges">
                            <div>
                                <p>Item Price:</p>
                                <p>Est. Tax (8.25%)</p>
                            </div>
                            <div>
                                <p>$<%= product.price.toFixed(2) %> </p>
                                <p>$<%= (product.price * 0.0825).toFixed(2) %> </p>
                            </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <p style="padding-left: 5px; padding-top: 5px;">
                                Order <strong> NOW </strong> and get <strong>ABSOLUTELY "FREE" PACKAGING</strong> 
                            </p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <% if (product.quantity > 0) {%>
                            <h5 style="color: green; text-decoration: solid;">In Stock</h5>
                            <%=product.quantity%> left in stock
                            <a class="btn btn-success" style="width: 100%; margin-top: 5px;" id="add-to-cart" href="/cart/add-to-cart/<%= product._id %>">Add to cart</a>
                        <% } else { %>
                            <h5 style="color: rgb(172, 33, 33); text-decoration: solid;">Out Of Stock</h5>
                            <%=product.quantity%> left in stock
                            <button type="btn" style="width: 100%; margin-top: 5px;" class="btn btn-secondary btn-lg" disabled>Out Of Stock</a>
                        <% } %>
                    </li>
                    <!-- added 'add to cart' button -->

                        
           
                    <li class="list-group-item">
                        <h4 style="color: rgb(0, 0, 0); text-decoration: solid;">Return Policy</h5>
                        <p style="font-size: xx-small;">
                            "touch grass" is not an insult towards gamers, rather it is advice for them. 
                            When participating in intense periods of gaming, the human hand has a tendency to get sweaty. 
                            The sweat causes the hand to become slick, and it b becomes more difficult to retain a grip on the 
                            gamers gaming mouse, thus making it more difficult to perform well in intense gaming moments. 
                            By touching grass with the gamers hand, the grass will impart a layer of particulate onto the gamers 
                            hand, the particulate can be made of a variety of dusts, dirts and other natural matter. 
                            This particulate will then act in a similar form to climbers chalk, absorbing the sweat and drying 
                            out the gamers hand. With dry hands, the gamer can now perform to their maximum when gaming. 
                            This is why when an enemy or teammate tells you to touch grass, they are simply trying to assist 
                            you in performing better.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>